[submodule "defi-crowdfunding/lib/openzeppelin-contracts"]
	path = defi-crowdfunding/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "defi-crowdfunding/lib/openzeppelin-contracts-upgradeable"]
	path = defi-crowdfunding/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "projects/defi-stablecoin/lib/openzeppelin-contracts"]
	path = projects/defi-stablecoin/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
